%h1
  = @title
  for
  = @test_session.id
  on
  = @test_session.created_at.strftime('%F %T %Z')

= render :partial => 'deathstare/test_sessions/details'

= will_paginate @test_results

%table.table.table-condensed.test-result
  %thead
    %tr
      %th Suite
      %th Test
      %th Timestamp
  %tbody
    - @test_results.each do |result|
      %tr
        %th= result.suite_name
        %th= result.test_name
        %th= result.created_at
      %tr
        %td{colspan:3}
          %pre= result.messages

= will_paginate @test_results
