%h1 Previous Test Runs

- if @test_sessions.count > 0
  %p= link_to "Remove All", clear_test_sessions_path,
    method:'POST', confirm:'Remove all previous session records?'

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %td ID
      %td Started
      %td Suites
      %td End Point
      %td Workers
      %td{title:"Minimum Run Time in seconds"} Run Time
      %td{title:"Concurrent devices per worker"} Devices
      %td Errors
      -#%td Average
      -#%td Min
      -#%td Max
      %td
  %tbody
    - @test_sessions.each do |run|
      %tr
        %td= link_to run.id, test_session_test_results_path(run), title: 'Detailed Responses'
        %td
          -if run.started?
            = relative_date(run.started_at)
          -else
            Warming up...
        %td= link_to suites(run), test_session_path(run), title: 'Chart'
        %td= run.base_url.sub('http://','')
        %td= run.workers
        %td= run.run_time
        %td= run.devices
        %td= link_to run.test_errors.count, errors_test_session_test_results_path(run)
        -#%td= "(XXX Librato)"
        -#%td= "(XXX Librato)"
        -#%td= "(XXX Librato)"
        %td
          -if run.running?
            = link_to "Cancel", cancel_test_session_path(run),
              method:'POST', confirm:'This session is running. Cancel it?'
          -else
            = link_to "Remove", test_session_path(run),
              method:'DELETE', confirm:'Remove all record of this session?'


= will_paginate @test_sessions
