-# TODO: Put an error explanation here, see: http://guides.rubyonrails.org/active_record_validations.html#displaying-validation-errors-in-views
-#<% if @post.errors.any? %>
-#  <div id="error_explanation">
-#    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
-#
-#    <ul>
-#    <% @post.errors.full_messages.each do |msg| %>
-#      <li><%= msg %></li>
-#    <% end %>
-#    </ul>
-#  </div>
-#<% end %>

.row
  .col-md-8
    -# Test form
    .row
      .col-md-offset-3.col-md-9
        %h1 New Test Session

    .row
      = form_for @test_session, url: test_sessions_path, html: {class: 'form-horizontal', role: 'form'} do |f|
        - if @test_session.errors.any?
          .alert.alert-danger
            - @test_session.errors.full_messages.each do |msg|
              %p= msg

        .form-group#suite_names
          = f.label :suite_names, 'Suite', class: 'col-md-3 control-label'
          .col-md-5
            = f.select :suite_names, Deathstar::Suite.suites, {}, {class: 'form-control'}#, multiple: true}
        .form-group
          = f.label :base_url, 'End point', class: 'col-md-3 control-label'
          .col-md-5
            = f.select :base_url, Deathstar::EndPoint.target_urls, {}, class: 'form-control'
          .col-md-4
            %span.help-block
              %a{href:'/end_points'} Manage cached devices
        .form-group
          = f.label :run_time, 'Run time', class: 'col-md-3 control-label'
          .col-md-5
            = f.number_field :run_time, in: 0..1000, step: 1, class: 'form-control'
          .col-md-4
            %span.help-block
              In seconds. Leave at zero to run a single iteration per device.

        .form-group
          = f.label :devices, 'Concurrent devices', class: 'col-md-3 control-label'
          .col-md-5
            = f.number_field :devices, in: 1..1000, step: 1, class: 'form-control'
          .col-md-4
            %span.help-block
              Number of concurrently simulated devices
              %em per instance.
              If you want to simulate a load of, e.g. 10,000 devices total,
              you can do this by running 100 instances with 100 concurrent devices each.

        .form-group
          = f.label :comment, class: 'col-md-3 control-label'
          .col-md-5
            = f.text_area :comment, class: 'form-control'
        .form-group
          .col-md-offset-3.col-md-5
            = f.submit 'Go!', class: 'btn btn-primary form-control'

  - if Rails.env.production?
    .col-md-4
      -# Heroku concurrent instance selection
      .row
        .col-md-offset-1.col-md-11
          %h2 Concurrent Instances
      .clearfix
      = form_for :concurrent_instances, url: concurrent_instances_path, method: :put, html: {role: 'form', id: 'concurrent-instances-form'} do |f|
        .row
          .col-md-offset-1.col-md-11
            = f.label :requested
        .row
          .col-md-offset-2.col-md-10.text-center
            = f.text_field :requested, class: 'dial', value: 0, 'data-fgColor'=>"#428BCA",'data-angleOffset'=>-125,'data-angleArc'=>250
          .col-md-offset-2.col-md-10.text-center
            = f.button class: 'btn btn-primary ladda-button', id: 'make-it-so-button', 'data-style'=>'expand-right' do
              %span.ladda-label Make it so!

        .row
          .col-md-offset-1.col-md-11
            = f.label :actual, 'Instances up'
        .row
          .col-md-offset-2.col-md-10.text-center
            = f.text_field :actual, class: 'dial', value: 0, 'data-fgColor'=>'#5CB85C','data-readOnly'=>true,'data-angleOffset'=>-125,'data-angleArc'=>250
